<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<real>0.25</real>
		<key>stantandAngle</key>
		<real>0.25</real>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<real>-27.142</real>
		<key>ty</key>
		<real>161.97</real>
		<key>tz</key>
		<real>3.364</real>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-3.14</real>
		<key>maxAngle</key>
		<integer>0</integer>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<real>-1.57</real>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>-42</integer>
		<key>ty</key>
		<real>162.535</real>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>-45</integer>
		<key>ty</key>
		<integer>105</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<real>0.25</real>
		<key>stantandAngle</key>
		<real>0.25</real>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<real>27.142</real>
		<key>ty</key>
		<real>161.97</real>
		<key>tz</key>
		<real>3.364</real>
	</dict>
	<dict>
		<key>left</key>
		<false/>
		<key>minAngle</key>
		<integer>0</integer>
		<key>maxAngle</key>
		<real>3.14</real>
		<key>currentAngle</key>
		<real>1.57</real>
		<key>stantandAngle</key>
		<real>1.57</real>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<false/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<integer>0</integer>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<true/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<integer>-1</integer>
		<key>maxAngle</key>
		<integer>1</integer>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<integer>0</integer>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<true/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<true/>
		<key>minAngle</key>
		<integer>-1</integer>
		<key>maxAngle</key>
		<integer>1</integer>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<true/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<false/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>left</key>
		<false/>
		<key>minAngle</key>
		<real>-1.57</real>
		<key>maxAngle</key>
		<real>1.57</real>
		<key>currentAngle</key>
		<integer>0</integer>
		<key>stantandAngle</key>
		<integer>0</integer>
		<key>Tox</key>
		<false/>
		<key>Toy</key>
		<false/>
		<key>Toz</key>
		<true/>
		<key>axisHorizontal</key>
		<false/>
		<key>tx</key>
		<integer>0</integer>
		<key>ty</key>
		<integer>0</integer>
		<key>tz</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
